<h1>Lista equipo_aprendizs</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Equipo</th>
      <th>Aprendiz</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @equipo_aprendizs.each do |equipo_aprendiz| %>
      <tr>
        <td><%= equipo_aprendiz.equipo %></td>
        <td><%= equipo_aprendiz.aprendiz %></td>
        <td><%= link_to 'Mostrar', equipo_aprendiz %></td>
        <td><%= link_to 'Editar', edit_equipo_aprendiz_path(equipo_aprendiz) %></td>
        <td><%= link_to 'Eliminar', equipo_aprendiz, method: :delete, data: { confirm: 'Esta seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Equipo aprendiz', new_equipo_aprendiz_path %>
