<h1>Lista Aprendices</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nombres</th>
      <th>Apellido</th>
      <th>Genero</th>
      <th>Identificacion</th>
      <th>Email</th>
      <th>Ficha</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @aprendizs.each do |aprendiz| %>
      <tr>
        <td><%= aprendiz.nombres %></td>
        <td><%= aprendiz.apellido %></td>
        <td><%= aprendiz.genero %></td>
        <td><%= aprendiz.identificacion %></td>
        <td><%= aprendiz.email %></td>
        <td><%= aprendiz.ficha %></td>
        <td><%= link_to 'Mostrar', aprendiz %></td>
        <td><%= link_to 'Editar', edit_aprendiz_path(aprendiz) %></td>
        <td><%= link_to 'Eliminar', aprendiz, method: :delete, data: { confirm: 'Esta seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Aprendiz', new_aprendiz_path %>
