<h1>Lista instructors</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellidos</th>
      <th>Genero</th>
      <th>Identificacion</th>
      <th>Email</th>
      <th>Titulo</th>
      <th>Centro</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @instructors.each do |instructor| %>
      <tr>
        <td><%= instructor.nombre %></td>
        <td><%= instructor.apellidos %></td>
        <td><%= instructor.genero %></td>
        <td><%= instructor.identificacion %></td>
        <td><%= instructor.email %></td>
        <td><%= instructor.titulo %></td>
        <td><%= instructor.centro %></td>
        <td><%= link_to 'Mostrar', instructor %></td>
        <td><%= link_to 'Editar', edit_instructor_path(instructor) %></td>
        <td><%= link_to 'Eliminar', instructor, method: :delete, data: { confirm: 'Esta seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Instructor', new_instructor_path %>
