<h1>Lista questionarios</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Pregunta</th>
      <th>Tema</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questionarios.each do |questionario| %>
      <tr>
        <td><%= questionario.pregunta %></td>
        <td><%= questionario.tema %></td>
        <td><%= link_to 'Mostrar', questionario %></td>
        <td><%= link_to 'Editar', edit_questionario_path(questionario) %></td>
        <td><%= link_to 'Eliminar', questionario, method: :delete, data: { confirm: 'Esta seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Questionario', new_questionario_path %>
