<h1>Listing fichas</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Numeroficha</th>
      <th>Programa</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fichas.each do |ficha| %>
      <tr>
        <td><%= ficha.numeroficha %></td>
        <td><%= ficha.programa %></td>
        <td><%= link_to 'Mostrar', ficha %></td>
        <td><%= link_to 'Editar', edit_ficha_path(ficha) %></td>
        <td><%= link_to 'Eliminar', ficha, method: :delete, data: { confirm: 'Esta seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Ficha', new_ficha_path %>
