<h1>Lista solucions</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Respuesta</th>
      <th>Questionario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @solucions.each do |solucion| %>
      <tr>
        <td><%= solucion.respuesta %></td>
        <td><%= solucion.questionario %></td>
        <td><%= link_to 'Mostrar', solucion %></td>
        <td><%= link_to 'Editar', edit_solucion_path(solucion) %></td>
        <td><%= link_to 'Eliminar', solucion, method: :delete, data: { confirm: 'Esta seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Solucion', new_solucion_path %>
