<p id="notice"><%= notice %></p>

<p>
  <strong>Respuesta:</strong>
  <%= @solucion.respuesta %>
</p>

<p>
  <strong>Questionario:</strong>
  <%= @solucion.questionario %>
</p>

<%= link_to 'Editar', edit_solucion_path(@solucion) %> |
<%= link_to 'Atras', solucions_path %>
