<h1>Lista centros</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nombre centro</th>
      <th>Ciudad</th>
      <th>Codigo</th>
      <th>Regional</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @centros.each do |centro| %>
      <tr>
        <td><%= centro.nombre_centro %></td>
        <td><%= centro.ciudad %></td>
        <td><%= centro.codigo %></td>
        <td><%= centro.regional %></td>
        <td><%= link_to 'Mostrar', centro %></td>
        <td><%= link_to 'Editar', edit_centro_path(centro) %></td>
        <td><%= link_to 'Eliminar', centro, method: :delete, data: { confirm: 'Esta seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Centro', new_centro_path %>
